@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-block {
    border-radius: theme("borderRadius.md");
    border: 1px solid theme("colors.typography");
    background-color: theme("colors.background");
  }
}

body[data-theme="light"] {
  --color-primary: #004e93;
  --color-background: #fff;
  --color-buttons: #1a1a1a;
  --color-typography: #1a1a1a;
  --color-heading: #1a1a1a;
  --color-icons: #1a1a1a;
}

body[data-theme="dark"] {
  --color-primary: #6cace4;
  --color-background: #111;
  --color-buttons: #fff;
  --color-typography: #f0f0f0;
  --color-heading: #fff;
  --color-icons: #fff;
}

body {
  --color-primary: #6cace4;
  --color-background: #111;
  --color-buttons: #fff;
  --color-typography: #f0f0f0;
  --color-heading: #fff;
  --color-icons: #fff;

  background: var(--color-background);
  background-image: radial-gradient(var(--color-typography) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -15px -12px;
}
