@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="light"] {
  --color-primary: #6cace4;
  --color-background: #111;
  --color-buttons: #fff;
  --color-typography: #f0f0f0;
  --color-heading: #fff;
  --color-icons: #fff;
}

body[data-theme="dark"] {
  --color-primary: #004e93;
  --color-background: #fff;
  --color-buttons: #1a1a1a;
  --color-typography: #1a1a1a;
  --color-heading: #1a1a1a;
  --color-icons: #1a1a1a;
}

body {
  background-color: var(--color-background);
}
